@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-indigo-500: #6366f1;
    --color-indigo-600: #4f46e5;

    --primary: var(--color-indigo-600);
    --primary-light: var(--color-indigo-500);
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--primary) var(--primary);
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 10px;
    border: 3px solid var(bg);
}